title Play AngularJS
link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/style.css')

script(src='/bower/jquery/dist/jquery.min.js')
script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower/angular/angular.min.js')

script.
    (function () {
        angular.module('app', [/*相依注入*/]); //setter or register\
    })(); //自執行匿名函數
